body{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Sans-Serif;
    color: #4b4b4b;
}
#mensagens{
    width:auto;
    height:75vh;
    max-height: 75vh;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 6px; 
    background-image: url('img/chatbackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mensagem{
    display: block;
    width: 800px;
    font-size: 14px;
    padding: 6px; 
    margin: 4px;
    outline: 0;
}

p{
    text-align: left;
    word-wrap: break-all;
}

.sidebar{
    float: left;
    height: 100vh;
    width: 30%;
    background-color: #ecf0f1;
}

.sidebarMenu{
    background: #F3F3F3;
    height: 11vh;
    border-right: 1px solid #bdc3c7;
}
.sidebarSearch{
    text-align: center;
    height:7vh;
    background-color: #FFF;
    border-bottom: 1px solid #95a5a6;
}
.sidebarMenu img{
    padding: 9px 20px;
    height: 40px;
    float: left;
    border-radius: 50%;
}
.search{
    margin-top: 10px;
    width: 70%;
   border: none;
   color: #636e72;
}

.sidebarMsg{
    background-color: #FFF;
    border-bottom: 1px solid #95a5a6;
    padding: 1px;
}

.sidebarMsg img{
    padding: 5px 20px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.menu{
    background: #F3F3F3;
    height: 60px;
    border: 1px solid #bdc3c7;
}

.menu img{
    padding: 9px 20px;
    height: 40px;
    float: left;
    border-radius: 50%;
}






/*Balão da mensagem*/
.baloMsgSend{
    margin-left: 10%;
    border-radius: 5px;
    padding: 10px;
    background:#FFF;
    position:relative;
    width: auto;
    max-width: 400px;
}
.baloMsgSend:after{
    content:'';
    position:absolute;
    left:-10px;
    top:0;
    border-bottom: 10px solid transparent;
    border-right:10px solid #FFF;
}